body{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol, li{
    list-style: none;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    background-color: #3030ff;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.navContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}
.logo{
    font-size: 25px;
    font-weight: 700;
}
.navList{
    display: flex;
    column-gap: 20px;
}
.navListSmall{
    opacity: 0;
    display: flex;
    column-gap: 20px;
}
.navListBig{
    opacity: 1;
    display: flex;
    column-gap: 20px;
}
.links{
    display: none;
}
.linksItem{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linksItem li{
    width: 100%;
    padding: 15px 0;
    background-color: #3030ff;
    text-align: center;
    transition: all .3s ease;
}
.linksItem li:hover{
    background-color: darkblue;
    border-radius: 20px;
}
.bar{
    background-color: darkblue;
    color: white;
    font-size: 30px;
    padding: 0 20px;
    border: none;
    border-radius: 10px;
}
.icons{
    display: flex;
    column-gap: 20px;
}